body, html {
  font-family: sans-serif;
}

.container {
  padding: 4em;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
}

form {
  display:flex;
}

form * {
  margin: 1em;
  padding: .5em;
  border-radius: 5px;
}

form input,button {
  border: 1px solid lightgray;
}

.todo {
  width: 100%;
  max-width: 1000px;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.todo button {
  float: right;
  margin: 0 1em;
  border: none;
  padding: 1em;
  border-radius: 5px;
}

.todo-actions {
  display: flex;
}

.primary {
  background-color: #66bb6a;
}

.secondary {
  border: none;
  background-color: #42a5f5;
}

.danger {
  background-color: #ef5350;
}
